# Slack Configuration
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
SLACK_USER_TOKEN=
# SLACK_APP_TOKEN=  # NOT needed for HTTP mode (Socket Mode only)

# Google Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# App Configuration
TRIGGER_EMOJI=white_check_mark
LOG_LEVEL=INFO

# LLM Configuration
LLM_API_KEY=
LLM_API_BASE_URL=
LLM_MODEL=

# Sentry Configuration
SENTRY_DSN=
